{% extends "design.html" %}
{% block conteudo %}
<style>
    /* Específico para esta página */
        .container {
            width: 900px; /* Deixa menor */
            max-width: calc(100% - 250px); /* Garante que se ajuste em telas pequenas */
            padding: 30px;
            background-color: #ffffff;
            border-radius: 20px;
           
            margin-left: 250px; /* sidebar 200px + 30px de distância */
        }
        
        .campo {
            margin-bottom: 20px;
            border-radius: 20px;  /* espaço entre os campos */
        }

        input:focus, select:focus, textarea:focus {
            outline: none;
            border-color: #495966;
            box-shadow: 0 0 5px rgba(88,176,157,0.3);
        }
        
        input, select, textarea {
            border-radius: 20px;
            border: 1px solid #ccc;
            padding: 10px;
            transition: all 0.3s ease;
        }

        .btn_cadastrar{
            background-color: #2d3645;
            transition: all 0.2s ease;
        }

        .btn_cadastrar:hover {
            background-color: #ffffff;
            color: #2d3645;
            border: 1px solid #2d3645;
            transition: all 0.2s ease;
        }
</style>
<body>
    <div class="container">

        <h2>Cadastrar Novo Produto</h2>
        <form method="POST" action="/cadastrar_produto">

        <div class="campo">
            <label for="produto">Nome do Produto</label>
            <input type="text" id="produto" name="produto" required>
        </div> 

        <div class="campo">
            <label for="codigo_interno">Código Interno</label>
            <input type="text" id="codigo_interno" name="codigo_interno" required>
        </div>

            <button type="submit" class="btn_cadastrar">Cadastrar Produto</button>
        </form>
    </div>

</body>
{% endblock %}
